
.footer {
    background-color: $navAndFoterColor;
    color: $textColorPrimary;
    padding-top: 20px;

    
    &__container{
        max-width: $maxWidht;
        margin: $marginCenterX;
        @include templateGrid($bpMedium, 2);
    }
}

.containerwebs{
    margin: $marginCenterX;
    &__text{
        font-size: 20px;
        text-align: center;
    }
}

.conainersocial{
    margin: $marginCenterX;

    &__text{
        font-size: 20px;
        text-align: center;
        }

    &__list{
        @include templateFlex(row, space-evenly, false);
        margin-top: 10px;
    
        // mapa (llave: valor)
        $socialIcons: (
            twitter: #55acee,
            instagram: #c92d8f,
            facebook: #55acee,
            youtube: #ff0000,
            linkedin:#319bed
        );
    

        @each $socialName, $socialColors in $socialIcons {
            .#{$socialName} {
                color: $textColorPrimary;
                margin: 0 10px;
                font-size: 35px;
                transition: $transition;
    
                &:hover {
                    color: $socialColors;
                    border-radius: 25%;
                }
            }
        }

    }
}


.containercopy{    text-align: center;
    &__text{
        font-size: 10px;

    }
}

.containerwhat{

    padding: 3px;
    border-radius: $borderRadius;
    @include templateFlex(column, space-between, false);
    text-align: center;
    position: fixed;
    width: 60px;
    bottom: 3%;
    right: 3%;
    background-color: $bgColorPrimary;

    &:hover{
        background-color: $bgColorSecondary;
        transition: $transition;
    }
    &__text{
        font-size: 10px;
        margin-top: 3px;
    }
}