// colores
$textColorPrimary: white;
$linkColorPrimary: #44a2f8;
$borderColorPrimary: #44a2f8;
$navAndFoterColor:#212020;
$bgColorPrimary: rgb(0, 0, 0,0.6);
$bgColorSecondary: rgb(0, 0, 0,0.9);

// breakpoints
$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;
$bpExtraLarge: 1200px;

// default
$borderRadius: 5px;
$boxShadow: -23px 22px 14px 0px rgba(0, 0, 0, 0.2);
$transition: all 0.3s;
$marginCenterX: 0 auto;
$maxWidht: 1600px;